@model List<ResultCommentDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yorum listesi - BlogId: @ViewBag.v</h4>
                        <p class="card-subtitle mb-4">
                            Bloglarla ilgili o bloga yapılmış olan yorum listesini by sayfadan görebilirsiniz.ilgili yorumları kaldırabilir yada tekrar aktif hale getirebilirsiniz. bunun için yorumlarin altında bulunan butonları kullanabilirsiniz.
                        </p>

                        .....
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>



